<h1> <%= @image.name %> </h1>
<h3> <%= @image.description %> </h3>

<%= link_to user_path(@image.user.id) do %>
  <h3> Uploaded by <%= @image.user.email %> </h3>
<% end %>

<div>
  <%= link_to "Edit this image", edit_gallery_image_path(@gallery, @image) %>
</div>

<img src="<%= @image.url %>"

<div>
  <ul>
  <% @image.tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %></li>
  <% end %>
</ul>
</div>
<div>
<% if current_user.liked_images.include? @image %>
  <%= button_to "Dislike", image_like_path(@image), method: :delete %>
<% else %>
  <%= button_to "Like", image_like_path(@image) %>
<% end %>
</div>

<div>
<%= form_for([@image, @comment]) do |f| %>
  <%= f.label :content, "Comment:"%>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
</div>

<div>
  <%= render @image.comments.by_most_recent %>
</div>

<div>
  <%= link_to "Delete this image", gallery_image_path(@gallery, @image), method: :delete, data: {confirm: "Are you sure?"} %>
</div>

<div>
  <%= link_to "Return to gallery home", gallery_path(@gallery) %>
</div>

